<div class="side-item">
        <a id='dashboard-word' href="/admin">DASHBOARD</a>
      <ul class="side-item-ul">
      <li <% if(title=='Account'){ %> class="side-window-selected" <%}%> ><a href="/admin/account">Account </a> </li>
      <li <% if(title=='Starting-15'){ %> class="side-window-selected" <%}%> ><a href="/admin/starting">Starting 15 </a> </li>
      <li <% if(title=='Update'){ %> class="side-window-selected" <%}%> ><a href="/admin/update">Update Time </a> </li>
      <li <% if(title=='Record'){ %> class="side-window-selected" <%}%> ><a href="/admin/record">Record </a> </li>
      <li <% if(title=='Notification'){ %> class="side-window-selected" <%}%> ><a href="/admin/notification">Notification </a> </li>
      <li id='logout-btn'><a href="/admin/logout">Logout</a> </li>
    </ul>
    
    </div>