<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form  method ="post"  action="#" autocomplete="off">
        <h2>Login</h2>
        
            <span>Admin name</span>
            <input class="input1" type="text" name="username" placeholder="Admin name">
        
        
        
            <span>Password</span>
            <input class="input1" type="password" name="password" placeholder="******" >
        
        
        <input class="input2" type="submit" value="Sign in">
        <a href="/">Back</a>
    </form>
    
    

  </body>
</html>
