.main2{
  
    width: 100%;
    display: flex;
    overflow-y: auto;
    justify-content: space-around;
    height: 70%;
    position: relative;
    
}
h2{
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.time-body{
    color: #ffffff87;
    display: flex;
    justify-content: space-around;
    font-size: 1.6em;
    margin-bottom: 1.5em;

}
#time1{
left: 0;
}
#time2{
   
}
#time3{
    right: 0;
}

.list{
    list-style: none;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    min-width: 6em;
    padding: 5px;
    
}
.list >li{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    color: white;
    font-weight: bolder;
}

.list>li>span{
    margin-left: 10px;
    margin-right: 10px;

}

input[type=checkbox]{
    height: 12.8px;
    width: auto;
    transform: scale(2);
    margin: 0;
}

/* add-name*/
.add-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
form{
    display: flex;
    margin-left: 15px;
    padding: 3px;
    
}
.hide{
    display: none;
}


  .add_name{
    margin: 0;
    padding: 0;
    width: 100px;
    padding: 5px;
    height: 39px;
    background: white;
    border-radius: 20px;
    color: black;
    outline: none;
    margin-right: 15px;
}
.room_no{
    margin: 0;
    padding: 0;
    width: 40px;
    padding: 5px;
    height: 39px;
    margin-right: 10px;
    background: white;
    border-radius: 20px;
    color: black;
    outline: none;
}
.machine_no_add{
    margin: 0;
    padding: 0;
    width: 40px;
    padding: 5px;
    height: 39px;
    margin-right: 10px;
    background: white;
    border-radius: 20px;
    color: black;
    outline: none;
}
.add-item {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #1997c6;
    outline: none;
    transition: all 0.2s;
    background: white;
}
.add-item2 {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #1997c6;
    outline: none;
    transition: all 0.2s;
    background: white;
}


::-webkit-scrollbar {
    width: 3px;
}
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
  ::-webkit-scrollbar-thumb {
    background: white;
  }